@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: white;
}

main {
  background-color: rgba(16, 16, 16, 0.932);
}
